<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Edit Employee</title>
</head>
<body>

<h2>Edit Employee</h2>

<form method="POST">

    <label>Name</label>
    <input type="text" name="name" value="{{ employee.name }}" required>
    <br><br>

    <label>Email</label>
    <input type="email" name="email" value="{{ employee.email }}" required>
    <br><br>

    <label>Department</label>
    <input type="text" name="department" value="{{ employee.department }}" required>
    <br><br>

    <label>Salary</label>
    <input type="number" name="salary" value="{{ employee.salary }}" required>
    <br><br>

    <button type="submit">Update Employee</button>

</form>

<br>

<a href="/">Back</a>

</body>
</html>