<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Employee Management System</title>
</head>
<body>
    <h1>Employee Management System</h1>

    <a href="/add">Add Employee</a>

    <br><br>

    <table border="1" cellpadding="10">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Department</th>
    <th>Salary</th>
    <th>Action</th>
</tr>

        {% for emp in employees %}
<tr>
    <td>{{ emp.id }}</td>
    <td>{{ emp.name }}</td>
    <td>{{ emp.email }}</td>
    <td>{{ emp.department }}</td>
    <td>{{ emp.salary }}</td>
    <td>
    <a href="/edit/{{ emp.id }}">Edit</a>
    |
    <a href="/delete/{{ emp.id }}">Delete</a>
    </td>
</tr>
        {% endfor %}
    </table>

</body>
</html>
